* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#back {
    position: absolute;
    width: 20%;
    height: 10%;
    background-color: rgb(228, 14, 85);
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.352));
}

#fore {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: black;
    transition-duration: 1s;
}

#text {
    position: absolute;
    left: 33%;
    top: 25%;
    width: 50%;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.49);
    font-size: 2em;
    z-index: +1;
}

#back:hover #fore{
    width: 100%;
    transition-duration: 1s;
}