* {
    box-sizing: border-box;
}

.space {
    width: 300px;
    height: 100px;
    /* background-color: black; */
    margin-top: 25px;
    border: 1px solid black;
}

.color {
    visibility: hidden;
    margin-left: 11px;
}

.color-label {
    font-size: 18px;
    background-color: aquamarine;
    padding: 4px 8px;
    border-radius: 20px;
    cursor: pointer;
}

.color-label:hover {
    background-color: rgb(110, 231, 191);
}

.color:checked + .color-label {
    background-color: rgb(75, 176, 142);
}

#red:checked ~ .space {
    background-color: red;
}

#blue:checked ~ .space {
    background-color: blue;
}

#yellow:checked ~ .space {
    background-color: yellow;
}

/* **************************************** */

.fade {
    visibility: hidden;
    margin: 30px 23px;
    margin-right: 0;
}

.fade-label {
    font-size: 18px;
    background-color: rgb(255, 152, 79);
    padding: 4px 10px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.option {
    position: absolute;
    width: 300px;
    text-align: center;
    opacity: 0;
    transition-duration: 0.5s;
    transform: translateY(40px);
}

.fade:checked + .fade-label {
    opacity: 1;
}

.fade-label:hover {
    opacity: 0.75;
}

#description:checked ~ .desc {
    opacity: 1;
    transform: translateY(0px);
}

#details:checked ~ .det {
    opacity: 1;
    transform: translateY(0px);
}

/* ************************************************ */

.img-box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin-top: 180px;
}

.image-type {
    visibility: hidden;
    position: relative;
    top: 170px;
    left: -170px;
    margin: 30px 23px;
    margin-right: 0;
}

.image-label {
    position: relative;
    display: inline-block;
    top: 180px;
    left: -200px;
    width: 30px;
    height: 30px;
    border: 1px solid black;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.483);
}

.label-one {
    background-image: url(color1.jpg);
    background-size: 100%;
}

.label-two {
    background-image: url(color3.jpg);
    background-size: 100%;
}

.image-label:hover  {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.483);
}

#red-img:checked ~ .img-box {
    background-image: url(color1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#blue-img:checked ~ .img-box {
    background-image: url(color3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}